.container-footer {
    width: 100%;
    height: 19vw;
    background-color: blue;
}

.sobre-mim {
    width: 35%;
    height: 100%;
    margin-left: 5%;
    background-color: black;
    color: white;
}

.sobre-mim h2 {
    font-size: 1vw;
}

.sobre-mim h3 {
    font-size: 0.8vw;
}

.sobre-mim p {
    width: 55%;
    background-color: aqua;
    font-size: 0.8vw;
}