.meu-perfil {
  background-color: rgba(34, 34, 34, 100);
  width: 49%;
  float: right;
  height: 25%;
  margin-top: 5%;
}

.profile-container {
  position: relative;
  opacity: 0;
  animation: fadeIn 1s forwards;

}

.text {
  width: 65%;
  text-align: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.myperson h1 {
  font-size: 2.0vw;
  color: rgb(0, 255, 242);
}


.myperson h2 {
  font-size: 1.0vw;
  color: white;
}

.myperson h3 {
  font-size: 1.0vw;
  color: white;
}

@media (max-width: 800px) {
  .meu-perfil{
    width: 100%;
    text-align: center;
    margin-top: 1%;
  }

  .perfil-photo {
    width: 100%;
    display: block;
    margin: 0;
    padding: 1vw 0;
  }

  .myperson h1 {
    font-size: 5.0vw;
    color: rgb(0, 255, 242);
  }
  
  
  .myperson h2 {
    font-size: 4.5vw;
    color: white;
  }
  
  .myperson h3 {
    font-size: 4.0vw;
    color: white;
  }
}