.perfil-photo{
  width: 49%;
  display: inline-block;
  padding: 3vw 0;

}

.photo-container {
  display: flex;
  margin:  auto 0;
  width: 29vw;
  height: 29vw;
  overflow: hidden;
  margin-left: calc(95% - 29vw);
  transition: transform 0.3s ease-in-out; 
  border-radius: 50%;
  animation: slideInFromLeft 1s ease-in-out; 
}

.photo {
  width: 100%;
  height: 100%;
  position: relative;
}

.photo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.photo-container:hover .photo::before {
  box-shadow: 1vw 0 1vw 0 rgba(0, 255, 242, 0.5);
}

.photo-container:hover {
  transform: translateY(-10%);
  box-shadow: 1vw 1vw 1vw  rgba(0, 255, 242, 0.5); 
}



@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 800px) {
  .perfil-photo {
    width: 100%; /* Ocupa toda a largura disponível */
    display: block; /* Agora será um bloco para ficar em linha */
    text-align: center; /* Centraliza a imagem */
    padding: 3vw 0;
  }

  .photo-container {
    width: 60vw; /* Tamanho ajustável para se adaptar a telas menores */
    height: 60vw;
    margin-left: auto;
    margin-right: auto;
    animation: none; /* Remover a animação de entrada para dispositivos menores */
  }
}